[package]
name = "chess"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]


[dependencies]
candid = "0.10.9"
ic-cdk = "0.12.0"
serde = { version = "1.0.193", features = []}
lazy_static = "1.4.0"
